<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yofun.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="com.yofun.model.Order">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into customorder(paymentamout, createat, userid, receivername, receivertelephone, receiveraddress, tradenumber, orderstatus, paymentstatus) value(#{paymentAmout}, #{createAt}, #{userId}, #{receiverName}, #{receiverTelephone}, #{receiverAddress}, #{tradeNumber}, #{orderStatus}, #{paymentStatus})
    </insert>

    <select id="queryOrderByVo" parameterType="com.yofun.vo.OrderVo" resultType="com.yofun.model.Order">
        select * from customorder
        <where>
            <include refid="consutoql"></include>
        </where>
    </select>

    <sql id="consutoql">
        <if test="customOrder != null">
            <if test="customOrder.paymentAmout != null and customOrder.paymentAmout != ''">
                and paymentAmout = "${customOrder.paymentAmout}"
            </if>
            <if test="customOrder.userId != null and customOrder.userId != ''">
                and userId = "${customOrder.userId}"
            </if>
            <if test="customOrder.createAt != null and customOrder.createAt != ''">
                and createAt = "${customOrder.createAt}"
            </if>
            <if test="customOrder.paymentStatus != null and customOrder.paymentStatus != ''">
                and paymentStatus = "${customOrder.paymentStatus}"
            </if>
            <if test="customOrder.paymentType != null and customOrder.paymentType != ''">
                and paymentType = "${customOrder.paymentType}"
            </if>
            <if test="customOrder.orderStatus != null and customOrder.orderStatus != ''">
                and orderStatus = "${customOrder.orderStatus}"
            </if>
        </if>
    </sql>

    <update id="updateOrderByUser" parameterType="com.yofun.model.Order">
        update customorder set receivername = #{receiverName}, receivertelephone = #{receiverTelephone}, receiveraddress = #{receiverAddress} where id=#{id}
    </update>

    <select id="findOrderById" parameterType="int" resultType="com.yofun.model.Order">
        select * from customorder where id=#{value};
    </select>

    <delete id="deleteOrderById" parameterType="int">
        delete from customorder where id=#{value}
    </delete>

    <update id="updateOrderById" parameterType="com.yofun.model.Order">
        update customorder set paymenttype = #{paymentType}, paymentstatus = #{paymentStatus}, payat = #{payAt} where id=#{id}
    </update>

</mapper>