<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<form action="insertProduct" method="post">
    ProductTypeId: <input type="text" name="productTypeId"/><br/>
    ProductTitle: <input type="text" name="productTitle"/><br/>
    ProductPrice: <input type="text" name="productPrice"/><br/>
    MerchantId: <input type="text" name="merchantId"/><br/>
    StockNumbe: <input type="text" name="stockNumber"/><br/>
    productImageUrl: <input type="text" name="productImageUrl"/><br/>
    <input type="submit" value="Submit"/><br/>
</form>
</body>
</html>