<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yofun.mapper.ProductDisplayMapper">

    <select id="queryProductByVo" parameterType="com.yofun.vo.ProductVo" resultType="com.yofun.model.Product">
        select * from product
        <where>
            <include refid="customsql"></include>
        </where>
    </select>

    <sql id="customsql">
        <if test="customProduct != null">
            <if test="customProduct.productTypeId != null and customProduct.productTypeId != ''">
                and productTypeId = "${customProduct.productTypeId}"
            </if>
            <if test="customProduct.productTitle != null and customProduct.productTitle != ''">
                and productTitle = "${customProduct.productTitle}"
            </if>
            <if test="customProduct.productPrice != null and customProduct.productPrice != ''">
                and productPrice = "${customProduct.productPrice}"
            </if>
            <if test="customProduct.merchantId != null and customProduct.merchantId != ''">
                and merchantId = "${customProduct.merchantId}"
            </if>
        </if>
    </sql>

</mapper>