<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<form action="insertProductDetails" method="post">
    <input type="hidden" name="productId" th:value="${productId}"/><br/>
    ProductPlace: <input type="text" name="productPrice"/><br/>
    ProductTitle: <input type="text" name="productTitle"/><br/>
    ProductBrand: <input type="text" name="productBrand"/><br/>
    ProductWeight: <input type="text" name="productWeight"/><br/>
    ProductSpecification: <input type="text" name="productSpecification"/><br/>
    ProductDetailsImageUrl: <input type="text" name="productDetailsImageUrl"/><br/>
    <input type="submit" value="Submit"/><br/>
</form>
</body>
</html>