<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="#" th:href="@{/toInsertProducttype(parentId=-1, parentLevel=0)}">Insert ProductType</a>
<table border="1">
    <tr>
        <td>TypeName</td>
        <td>TypeDescription</td>
        <td>TypeLevel</td>
        <td>ParentId</td>
        <td>action</td>
    </tr>
    <tr th:each = "productType : ${productTypes}">
        <td th:text="${productType.typeName}"></td>
        <td th:text="${productType.typeDescription}"></td>
        <td th:text="${productType.typeLevel}"></td>
        <td th:text="${productType.parentId}"></td>
        <td>
            <a href="#" th:href="@{/findProductTypeById(id=${productType.id})}">LookUp</a>
<!--            <a href="#" th:href="@{/toUpdateProductTypeById(id=${productType.id})}">Update</a>-->
<!--            <a href="#" th:href="@{/deleteProductTypeById(id=${productType.id})}">Delete</a>-->
            <a href="#" th:href="@{/toInsertProducttype(parentId=${productType.id}, parentLevel=${productType.typeLevel})}">Insert Sub-ProductType</a>
        </td>
    </tr>
</table>
</body>
</html>