<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.yofun.mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-com.yofun.mapper.dtd">

<com.yofun.mapper namespace="com.yofun.mapper.ProductDisplayMapper">

    <insert id="insertProductDetails" parameterType="com.yofun.model.ProductDetails">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into productdetails(productid, productplace, producttitle, productbrand, productweight, productspecification, productdetailsimageurl) value(#{productId}, #{productPlace}, #{productTitle}, #{productBrand}, #{productWeight}, #{productSpecification}, #{productDetailsImageUrl})
    </insert>

</com.yofun.mapper>