<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:include="producttypes::producttypes"></div>
<table border="1">
    <tr>
        <td>productTypeId</td>
        <td>productTitle</td>
        <td>productPrice</td>
        <td>merchantId</td>
        <td>stockNumber</td>
        <td>productImageUrl</td>
    </tr>
    <tr th:each = "product : ${products}">
        <td th:text="${product.productTypeId}"></td>
        <td th:text="${product.productTitle}"></td>
        <td th:text="${product.productPrice}"></td>
        <td th:text="${product.merchantId}"></td>
        <td th:text="${product.stockNumber}"></td>
        <td th:text="${product.productImageUrl}"></td>
    </tr>
</table>
</body>
</html>