<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:include="producttypes::producttypes"></div>
<table border="1">
    <tr>
        <td>ProductTypeId</td>
        <td>ProductTitle</td>
        <td>ProductPrice</td>
        <td>MerchantId</td>
        <td>StockNumber</td>
        <td>ProductImageUrl</td>
    </tr>
    <tr th:each = "product : ${products}">
        <td th:text="${product.productTypeId}"></td>
        <td> <a href="#" th:href="@{/toProductDetails(productId=${product.id})}"><span th:text="${product.productTitle}"></span></a></td>
        <td th:text="${product.productTitle}"></td>
        <td th:text="${product.productPrice}"></td>
        <td th:text="${product.merchantId}"></td>
        <td th:text="${product.stockNumber}"></td>
        <td th:text="${product.productImageUrl}"></td>
    </tr>
</table>
</body>
</html>