<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="producttypes">
    <a href="/toUserRegister">SignOn</a> || <a href="/toUserLogin">SignIn</a> Welcome <span th:if="${session.user != null}" th:text="${session.user.name}"></span><br/>
    <form action="searchProduct" method="get">
        <input type="text" name="keyword"/>
        <input type="submit" name="Search"/>
    </form>
    <table border="1">
        <tr>
            <td>ProductType</td>
        </tr>
        <tr th:each = "productType : ${productTypes}">
            <td><a href="#" th:href="@{/listProduct(productTypeId=${productType.id})}"><span th:text="${productType.typeName}"></span></a></td>
        </tr>
    </table>
</div>
</body>
</html>